<header class="position-absolute bg-white w-100" style="z-index: 1000; height: 70px;">
  <div class="row h-100 m-0">
    <div
      class="h-100 align-content-center d-flex my-auto d-lg-none"
      style="width: 70px; font-size: x-large;"
    >
      <a class="d-block m-auto cursor-pointer" (click)="toggleSidebar()">
        <i class="fa fa-bars fa-md"></i>
      </a>
    </div>

    <div class="fit-content my-auto mx-auto mx-md-0 ml-lg-3">
      <img class="rounded bg-transparent" style="height: 50px;" [src]="logo" />
    </div>

    <div class="h-100 align-content-center d-flex my-auto ml-auto p-2" style="width: 70px;">
      <a [matMenuTriggerFor]="menu" class="cursor-pointer">
        <img
          class="img-thumbnail rounded-circle"
          [src]="currentUser?.avatar || './assets/images/Portrait_Placeholder.png'"
          onError="this.src='./assets/images/Portrait_Placeholder.png';"
        />
      </a>
      <mat-menu #menu="matMenu">
        <a
          [href]="'https://accounts.ottimizza.com.br/dashboard/users/' + currentUser.id"
          class="dropdown-header dropdown-item text-center mt-0 py-3"
        >
          <h6 class="text-dark overflow-ellipsis m-0">
            {{ currentUser.firstName + ' ' + currentUser.lastName }}
          </h6>
          <small class="text-muted text-lowercase">{{ currentUser.email }}</small>
        </a>
        <a mat-menu-item (click)="allowNotifications()">
          <i class="fas fa-bell" aria-hidden="true"></i>&nbsp;&nbsp;
          <span>Habilitar Notificações</span>
        </a>
        <a mat-menu-item href="https://accounts.ottimizza.com.br/dashboard/products">
          <i class="fas fa-undo-alt" aria-hidden="true"></i>&nbsp;&nbsp;
          <span>Voltar para Aplicativos</span>
        </a>
        <a mat-menu-item (click)="logout()">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;&nbsp;<span>Sair</span>
        </a>
      </mat-menu>
    </div>
  </div>
</header>
