<div class="page-wrapper bg-white">
  <app-breadcrumb></app-breadcrumb>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h1>1</h1>
            <span>Empresas em projeto</span>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h1>1</h1>
            <span>Empresas em projeto</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
