<div class="border-top pt-3 pb-2 integration-card">
  <div class="card-title">
    <h5 class="text-primary"><a [routerLink]="['/content/projetos/empresa', project.id]">({{ project.id }}) {{ project.name }}</a></h5>
  </div>
  <div class="row w-100 m-0 content-field">
    <div class="col-10 p-0">
      <span class="status" *ngIf="project.statusResumido">{{ project.statusResumido }}</span>
      <div class="nowrap-container">
        <span>&nbsp;&nbsp;{{ project.resumoProximoPasso }}</span>
      </div>
    </div>
    <div class="col-2">
      <span class="float-right">{{ project.statusReportData }}</span>
    </div>
  </div>
</div>
