<app-breadcrumb [append]="breadcrumb"></app-breadcrumb>
<app-actions [buttons]="buttons" (clicked)="onActionClicked($event)"></app-actions>

<div class="container m-0">

  <div class="row m-4 mt-0">
  <div class="col-lg-9 col-xl-9 p-0 mb-4">
      <strong class="d-block">Projeto:</strong>
      <input type="text" readonly [value]="project?.codigoErp + ' ' + project?.name">
    </div>

    <div class="col-lg-1 col-xl-1"></div>

  <div class="col-lg-2 col-xl-2 p-0 mb-3" *ngIf="project?.statusResumido">
      <strong class="d-block">Status do Projeto:</strong>
      <div class="margin-13"></div>
      <div class="d-inline tag">{{ project?.statusResumido }}</div>
    </div>
  </div>

  <div class="row m-4 mt-0" *ngIf="project?.feitoHoje">
    <div class="col-12 p-0">
      <div class="row m-0">
        <strong>Última Ação:&nbsp;&nbsp;</strong>
        <span>{{ format(project.statusReportData) }}</span>
      </div>
      <div class="row m-0">
        <textarea readonly>{{ project?.feitoHoje }}</textarea>
      </div>
    </div>
  </div>

  <div class="row m-4" *ngIf="project?.proximoPasso">
    <div class="col-12 p-0">
      <div class="row m-0">
        <strong>Ação Pendente (Até):&nbsp;&nbsp;</strong>
        <span class="d-block">{{ format(project.proximoPasso) }}</span>
      </div>
      <div class="row m-0">
        <textarea readonly>{{ project?.resumoProximoPasso }}</textarea>
      </div>
    </div>
  </div>

  <div class="row m-4" *ngIf="project?.envolvidos">
    <div class="col-12 p-0">
      <div class="row m-0">
        <strong class="d-block">Responsáveis:</strong>
      </div>
      <div class="row m-0">
        <textarea readonly>{{ project?.envolvidos }}</textarea>
      </div>
    </div>
  </div>

</div>
