input,
textarea,
.tag {
  margin-top: 10px;
  border-radius: 5px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: solid 1px rgb(206, 206, 206);
}

.tag {
  color: white;
  background-color: #007aff;
  padding: 6px;
}
