.button-container {
  background-color: rgb(248, 249, 251);
}

.action-button {
  height: 40px;
  width: 100%;
  margin: 12px;
  background-color: rgb(25, 118, 211);
  color: white;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}
